@tailwind base;
@tailwind components;
/* @tailwind utilities; */

:root {
  --background: white;
  --foreground: black;
  --vertical-padding: 10%;
  --arrow-color: #b4b3b1;
  --toolbar-width: 810px;
}
html {
  font-size: medium;
}

body {
  color: var(--foreground);
  background: var(--background);
  height: 100vh;
  padding-top: 10%;
  padding-bottom: 15%;
  padding-left: var(--vertical-padding);
  padding-right: var(--vertical-padding);
  display: flex;
  justify-content: center;
}
