/* Because edit-2-html project is single route project, every css styles except for global are written here. */
.components-editor {
  max-width: 100%;
  overflow-wrap: break-word;
}

.components-title {
  margin-bottom: 30px;
  font-size: 2rem;
  font-weight: bold;
}

.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar > a {
  display: flex;
  height: 100%;
}

.toolbar-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar-font-color {
  display: flex;
  justify-content: center;
  align-items: center;
}
