/* Because edit-2-html project is single route project, every css styles except for global are written here. */
.components-editor {
  max-width: 100%;
  overflow-wrap: break-word;
}

.components-title {
  margin-bottom: 30px;
  font-size: 3rem;
  font-weight: bold;
}

.horizontal-line {
  padding-left: 0.5rem;
  border-left: 1px solid var(--arrow-color);
}

.down-arrow-margin {
  margin-left: 0.5rem;
}

.toolbar {
  position: absolute;
  z-index: 2;
  top: 350px;
  left: calc(50% - var(--toolbar-width) / 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: var(--toolbar-width);
  padding-left: 1rem;
  padding-right: 0.5rem;
  border: solid 1px var(--arrow-color);
  border-radius: 10px;
  font-size: 2rem;
  background-color: white;
}

.toolbar > a {
  display: flex;
  height: 100%;
}

.toolbar-info {
  width: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar-info > p {
  margin-left: 0.5rem;
}

.toolbar-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar-font-color {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar-font-color-icon {
  height: 40px;
}

.text-area {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
